<div class="actions col-md-8 col-md-offset-2">
  <div class="product">
      <h2><%= link_to item.name, product_path(item) %></h2>
    <ul>
      <li><%= item.description %></li>
      <li><%= item.price %></li>  
    </ul>
  </div>    
</div>