<div class="row">
  <div class="actions col-md-8 col-md-offset-2">
    <%= link_to "Add a Product", new_product_path %>
  </div>
  <br>
  <div class="row">
    <% @products.each do |item| %>
      <%= render partial: "product", locals: {item: item} %>
    <% end %>
  </div>
</div>
